.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  .videoCanvas {
    max-width: 99%;
    max-height: 99%;
    /* Additional mobile-specific styles */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  position: relative; /* Ensure the container is positioned */
  overflow: hidden; /* Hide overflow */
}

.canvasContainer {
  position: relative;
  width: 100%;
  height: 0; /* Control the aspect ratio */
  padding-bottom: 75%; /* Aspect ratio: height/width * 100% */
  display: flex;
  justify-content: center;
}

.videoCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container fully */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #61dafb; /* A light background */
  color: #282c34; /* Dark text */
  border: none;
  padding: 10px 20px;
  margin-top: 20px; /* Add some space above the button */
  z-index: 10; /* Ensure it's above other elements */
  position: relative; /* Adjust if needed */
}

/* Ensure the video and canvas maintain their aspect ratio */
video.videoCanvas, canvas.videoCanvas {
  object-fit: contain;
}

/* App.css */

.cameraButton {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%; /* Circular shape */
  transition: all 0.3s ease; /* Smooth transition for shape change */
}

.cameraButton.square {
  border-radius: 0; /* Square shape */
}

.cameraButton.blue {
  background-color: blue;
}